{% extends 'base.html' %}

{% load static %}

{% block title %}
  Details
{% endblock title %}

{% block content %}    
    <!-- Main Section -->
    <div class="container">
      <h2 class="heading font-weight-light text-center">{{ contact.name }}</h2>
      <hr />
    </div>
    <div class="container main-part">
      <!-- Card for details -->
      <div class="card my-2 boy-card w-25 mx-auto">
        <img src="{{ contact.image.url }}" class="img-fluid" />
        <div class="card-header">
          <a href="#" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i>{{ contact.name}}</a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:{{ contact.email }}">{{ contact.email}}</a>
          </p>
          <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:{{ contact.phone }}">{{ contact.phone}}</a>
          </p>
          <p><i class="fas fa-info-circle mr-2"></i>{{ contact.info }}</p>
        </div>
      </div>
    </div>
    <!-- Main Section ends-->

{% endblock content %}